* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#main {
    background-color: aqua;
    width: 300px;
    height: px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}


input {
    border-radius: 3px;

    padding: 0.5em;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blue;
    padding: 0.5em;
    margin-top: 1em;
    transition: all ease-in-out 0.5s;
}

button:hover {
    background-color: rgb(0, 0, 57);
}

/*  Continue with Google Button */

.login-container {
    background: #ffffff;
    padding: 40px 35px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #333;
}

.google-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: #7e6a6a;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all 0.3s ease;
}

.google-btn img {
    width: 20px;
    height: 20px;
}

.google-btn:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.739);
    transform: translateY(-2px);
}

.google-btn:active {
    transform: scale(1);
}