*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    background-color: aqua;
    width: 300px;
    height: px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}


input {
    border-radius: 3px;
    
    padding: 0.5em;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blue;
    padding: 0.5em;
    margin-top: 1em;
    transition: all ease-in-out 0.5s;
}
button:hover{
    background-color: rgb(0, 0, 57);
}