#main {
    background-color: aqua;
    width: 300px;
    height: px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}

input {
    padding: 0.5em;
}

button {
    padding: 0.5em;
    margin-top: 1em;
}